RAILS_ENV=production
RACK_ENV=production
SECRET_KEY_BASE={{ vault_rails_secret_key_base }}
RAILS_MASTER_KEY={{ vault_rails_master_key }}
DB_POOL={{ rails_db_pool }}

#Telegram
BOT_NAME=shock_price_bot

# Puma
APP_DIR={{ app_current_path }}
SHARED_DIR={{ app_shared_path }}
WEB_CONCURRENCY={{ puma_web_concurrency }}

#CHROME
CHROME_ADDRESS=http://0.0.0.0:4444/wd/hub
